.dnav{
    width: 100%;
    height: 70px;
    background-color:#1e222b;
    display: flex;
    justify-content: space-evenly;
}

.dnav img{
    height: 50px;
    position: relative;
    top:10px;
    right: 10px;
    display: inline;
}


.dnav h3{
    display: inline;
    margin-right: 15px;
    color: #fff;
    font-family: 'IBM Plex Sans Arabic';
    position: relative;
    top:10px;
    right:10px;
    font-size:25px;
}

.dmenu{
    background-color:#7c89a7;
    columns: #1e222b;
    font-family: 'IBM Plex Sans Arabic';
    height:40%;
    position: relative;
    top:25%;
    width:40px;
    border-radius: 5px;
    font-weight: bold;

}

.dmenu img{
    width: 80%;
    height: 95%;
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
}

.menur{
    position: absolute;
    width: 75%;
    height: 60%;
    background-color: #7c89a7;

}